<!-- templates/index.html -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Read Emails</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
<div class="container">
  <h1>Read Emails</h1>
  <div class="input-group">
    <label for="credentials">Credentials</label>
    <input type="text" id="credentials" placeholder="Enter your email and password separated by a space">
  </div>
  <button id="fetch-button">Fetch Emails</button>
  <div class="result">
    <div class="mail-group">
      <h2>Result</h2>
      <ul id="result"></ul>
    </div>
    <div class="mail-group">
      <h2>Inbox</h2>
      <ul id="inbox-list"></ul>
    </div>
    <div class="mail-group">
      <h2>Junk</h2>
      <ul id="junk-list"></ul>
    </div>
  </div>
</div>

<!-- Modal -->
<div id="modal" class="modal">
  <div class="modal-content">
    <div class="modal-content-inner">
      <span class="close">&times;</span>
      <h2 id="modal-subject"></h2>
      <p><strong>From:</strong> <span id="modal-from"></span></p>
      <div id="modal-body" class="modal-body"></div>
    </div>
  </div>
</div>

<script src="{{ url_for('static', filename='js/app.js') }}"></script>
</body>
</html>
